*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", "Roboto", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image:url(../images/background-img1.jpg);
    background-size: cover;
    background-position: center;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.btn{
    background-color: #f9004d;
    color: #000;
    text-decoration: none;
    border:  2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    color: #fff;
    background-color: #000;
    transition: .4s;
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #000;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(20, 20, 20);
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 25px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px; 
}
.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
button a{
    color: #fff;
    text-decoration: none;
}
button:hover{
    background-color: transparent;
    cursor: pointer;
}
.skills{
    background-color:  rgb(19, 19, 19);
    width: 100%;
    padding: 20px 0px 0px;
}
.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
} 
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgb(19, 19, 19);
    border-radius: 30px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px -2px 2px 2px rgb(172, 169, 169);
}
.card i{
   font-size: 50px;
   display: block; 
   text-align: center;
   margin: 25px 0px;
   color: #f9004d;
}
h5{
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.hard-skills{
    background-color:  rgb(17, 17, 17);
    width: 100%;
    padding: 100px 0px;
}
.box2{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card2{
    height: 565px;
    width: 335px;
    padding: 20px 35px;
    background-color: rgb(26, 25, 25);
    border-radius: 30px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px -2px 2px 1px rgb(172, 169, 169);
}
.card2 i{
    font-size: 50px;
    display: block; 
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
 }
.card2 p{
    color:#fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.education{
    width: 100%;
    background-color:  rgb(17, 17, 17);
    padding: 10px 0 30px;
}
.edu-box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.edu-card{
    position: relative;
    height: 625px;
    width: 525px;
    padding: 20px 35px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    margin: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px -2px 2px 1px rgb(172, 169, 169);
}
h6{
    color: #fff;
    font-size: 18px;
}
.edu-card img{
    background-color: #fff;
    border-radius: 30px;
}
.edu-card a{
    margin: 20px;
    display: inline-flex;
    background-color: #f9004d;
    color: #000;
    text-decoration: none;
    border:  2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.edu-card a:hover{
    color: #000;
    background-color: #fff;
    transition: .4s;
    transform: scale(1.2);
}